<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="row">
        <div class="col-3">
          <div class="circle">
            <br />
           Savor
            <br/>
            Your
            <br/>
          Life
        </div>
      </div>
        <div class="col-4 slogan">
          Advice on how to live your life instead of just existing in it
        </div>
        <div class="col-5 links">
          <%= link_to 'Contribute', '#' %>
          <%= link_to 'About', '#' %>
        </div>
    </header>
    <hr />

    <br class="clear" />

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isnt enough, I need more." , '#', class: 'next-quote' %> 
          </div>
          <div class="col-6 footer-blurb">
            Enlightenment provided by <a href= "https://loydalopezbio.netlify.com">[Loyda Lopez]</a><br />
            Want to build your own Splurty web app - <a href= "https://online.bootcampspot.com"> Learn to code here </a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
